@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR";
}

header a {
  text-decoration: none;
  color: #000000;
}
/* 여기서부터 toptab css */
toptab {
  position: fixed;
  width: 100%;
  height: 2.083vw;
  padding: 0vw 5vw;
  left: 0;
  top: 0;
  background-color: #000000;
}
toptab .sitemenu {
  position: absolute;
  display: flex;
  flex-direction: row;
}
toptab li {
  width: 5vw;
  height: 2.083vw;
  line-height: 2.083vw;
  text-align: center;
  list-style-type: none;
}
toptab .currentPage {
  background: #ffffff;
}
toptab a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.781vw;
}
toptab .currentPageA {
  color: #000000;
}
toptab .otherPageA {
  color: #999999;
}

/* 여기서부터 nav css */
nav {
  position: fixed;
  top: 2.083vw;
  width: 100%;
  height: 3.646vw;
  background-color: #ffffff;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.646vw;
  padding: 0vw 5.208vw;
}
.navbar .logo {
  margin-right: 5vmin;
}
.navbar .logo a {
  font-size: 2.083vw;
  font-weight: bold;
}
.navbar .menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar .menu li {
  margin: 0vw 1.823vw;
}
.navbar .menu li a {
  font-size: 0.938vw;
  font-weight: bold;
}
.navbar .navFunction {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 1.823vw;
}
.navbar .navFunction li {
  display: flex;
  align-items: center;
  margin-left: 1.823vw;
  height: 3.646vw;
}
.navbar .navFunction li a {
  /* padding: 0;
  margin: 0; */
}
.navbar .navFunction li .searchButton {
  margin: 0;
  padding-top: 15px;
  width: 75%;
}

/* 테스트 및 구분을 위해 추가한 Body Background color 입니다. */
body {
  background-color: #999999;
}

/* 여기서 부터 footer css */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 323px;
  background: #1b1b1b;
}

footer .footerBox {
  padding: 50px 320px;
}
.footerBox_Top {
  display: flex;
  justify-content: space-between;
}

footer .footerItemLogo {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 35px;
}
footer .footerList {
  display: flex;
  list-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

footer .footerList li {
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
}

footer .footerList a {
  color: #ffffff;
  text-decoration: none;
}

.information {
  color: #777777;
}

.companyName {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.grayListOne,
.grayListTwo {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.grayListOne li,
.grayListTwo li {
  font-size: 13px;
  font-weight: medium;
  display: inline-block;
  margin-right: 12px;
}
.CSCenter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.centerText {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.centerNumber {
  display: flex;
}

.centerNumber .number {
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
}

.twentyfourseven {
  font-size: 14;
  font-weight: bold;
  color: #666666;
}

footer .footerBox_Bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.copyRight {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
}

.snsIcons {
  display: flex;
  list-style: none;
}

.snsIcons li {
  margin-right: 20px;
}

.snsIcons li:last-child {
  margin-right: 0;
}

.snsIcons a {
  text-decoration: none;
}
