.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* Background for test */
  /* background-color: #282c34; */
}
sitenav{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background: #000000;
 } 
nav{
 position: fixed;
 left: 0;
 top: 40px;
 width: 100%;
 height: 40px;
 background: #ffffff;
}
nav .navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100%;
 max-width: 90%;
 background: #ffffff;
 margin: auto;
}
nav .navbar .logo a{
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
}
nav .navbar .menu{
  display: flex;
}
.navbar .menu li{
  list-style: none;
  margin: 0 70px;
}
.navbar .menu li a{
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
#Home{
  background: #fffff0;
}
#About{
  background: #f2f2f2;
}
#Category{
  background: #e6e6e6;
}
#Latest{
  background: #fff;
}
#Contact{
  background: #f2f2f2;
}
#Feedback{
  background: #e6e6e6;
}
.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}
footer{
  position : absolute;
  bottom : 0;
  left: 0;
  width: 100%;
  height: 323px;
  background: #1b1b1b;
 }
 footer .footerItemLogo {
  padding-left: 50px;
  color: #ffffff;
 }